<div class="container">
  <br>
  <div class="col-6 col-sm-6 col-md-6 col-lg-4">
    <mat-form-field class="example-full-width">
        <input matInput readonly [matDatepicker]="picker" (click)="picker.open()"
            (focus)="picker.open()" placeholder="Desde" [(ngModel)]="select_day"
            [ngModelOptions]="{standalone: true}" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="isMobile()" #picker></mat-datepicker>
    </mat-form-field>
</div>
  <br>
  <mat-expansion-panel *ngFor="let auto of autos" [expanded]="control_collapse_search == true" (opened)="control_collapse_search = true" style="margin-top: 30px;">
    <mat-expansion-panel-header style="background-color:#43c89d;">
        <mat-panel-title style="color:white;">
            <i style="margin-top: 3px; margin-right: 20px;" class="fas fa-car"></i><span>AUTO {{auto[0] == 4 ? 'AT' : auto[0]}} </span>
        </mat-panel-title>
        <mat-panel-description style="color:white;">
        </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- clases por realizarse -->
    <div style="margin-top: 15px;"> 
      <label>Clases por realizarse</label>
      <table mat-table [dataSource]="auto.clasesPorRealizarse" class="mat-elevation-z0">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.idClase}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{element.direccionFormateada}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="alumno">
          <th mat-header-cell *matHeaderCellDef> Alumno </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <br>
    <div style="margin-top: 15px;">
      <label>Clases realizadas</label>
      <table mat-table [dataSource]="auto.clasesRealizadas" class="mat-elevation-z0">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.idClase}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{element.direccionFormateada}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="alumno">
          <th mat-header-cell *matHeaderCellDef> Alumno </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-expansion-panel>
</div>