table {
  width: 100%;
}

::ng-deep #lessonsExpansion .mat-expansion-panel-body {
  padding: 0px !important;
}

::ng-deep .mat-expansion-indicator::after {
  color:white;
}

.showMoreBtn {
  border: 0;
  background: inherit;
  color: rgb(67, 200, 157);
  position: relative;
  bottom: 7px;
  font-weight: 500;
}

::ng-deep #lessonsTable td.mat-footer-cell {
  position: absolute;
  width: 95%;
  padding-left: 0px;
  border-bottom: 0px !important;
}

.emptyMessageTable {
  color: #d40808;
  text-align: center;
  padding: 15px;
}