<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="background-color: white !important; height: 70px; border-bottom: 1px solid rgba(169, 161, 161, 0.42);">

    <span><img src="assets/img/logo.png" alt="Smiley face" height="42" width="42"><a class="navbar-brand" href="#">&nbsp;&nbsp;YoManejo</a></span>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="busqueda" >Busqueda</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.show">
            <a class="nav-link" routerLink="pendientes" >Cronogramas</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="clases" >Clases</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="alumnos" >Alumnos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="autos" >Autos</a>
        </li>
      </ul>
    </div>
  </nav>