<mat-tab-group id="balanceTabGroup" style="margin-top: 100px; width: 100%" mat-stretch-tabs>
  <mat-tab label="Ingresos">
    <mat-card class="col-12 col-md-10 offset-md-1 mat-elevation-z6" style="margin-top: 20px">
      <app-ingreso></app-ingreso>
    </mat-card>
  </mat-tab>
  <mat-tab label="Egresos">
    <mat-card class="col-12 col-md-10 offset-md-1 mat-elevation-z6" style="margin-top: 20px">
      <app-egreso></app-egreso>
    </mat-card>
  </mat-tab>
  <mat-tab label="Dashboard">
    <mat-card class="col-12 col-md-10 offset-md-1 mat-elevation-z6" style="margin-top: 20px">
      <app-dashboard></app-dashboard>
    </mat-card>
  </mat-tab>
</mat-tab-group>
