<mat-tab-group style="margin-top: 100px;" mat-align-tabs="center">
  <mat-tab label="Activos">
    <table mat-table id="alumnosActivosTable" [dataSource]="alumnosActivos" class="mat-elevation-z0">
            
      <!-- Position Column -->
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idAlumno}} </td>
        <td mat-footer-cell *matFooterCellDef>               
          <div style="text-align: center; width: 100%;">
            <div style="cursor: pointer; margin-top: 10px;" (click)="showMore(auto, 'clasesPorRealizarse')" *ngIf="alumnosActivos.length == 4 && alumnosActivos.length > 4">
              <i style="color: rgb(67, 200, 157);" class="material-icons">
                keyboard_arrow_down
                </i>
              <button class="showMoreBtn">VER MÁS</button>
            </div>
            <div style="cursor: pointer; margin-top: 10px;" (click)="showLess(auto, 'clasesPorRealizarse')" *ngIf="alumnosActivos.length > 4">
              <i style="color: rgb(67, 200, 157);" class="material-icons">
                keyboard_arrow_up
                </i>
              <button class="showMoreBtn">VER MENOS</button>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre | capitalize}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.dirFisicaFormateada}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono | phone}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <ng-container *ngIf="alumnosActivos && alumnosActivos.length > 4">
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </ng-container>
    </table>
  <div class="emptyMessageTable" *ngIf="alumnosActivos && alumnosActivos.length === 0">No se encontraron alumnos</div>
</mat-tab>

<mat-tab label="Inactivos">
  <table mat-table id="alumnosInactivosTable" [dataSource]="alumnosInactivos" class="mat-elevation-z0">     
    <!-- Position Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.idAlumno}} </td>
      <td mat-footer-cell *matFooterCellDef>               
        <div style="text-align: center; width: 100%;">
          <div style="cursor: pointer; margin-top: 10px;" (click)="showMore(auto, 'clasesPorRealizarse')" *ngIf="alumnosInactivos.length == 4 && alumnosInactivos.length > 4">
            <i style="color: rgb(67, 200, 157);" class="material-icons">
              keyboard_arrow_down
              </i>
            <button class="showMoreBtn">VER MÁS</button>
          </div>
          <div style="cursor: pointer; margin-top: 10px;" (click)="showLess(auto, 'clasesPorRealizarse')" *ngIf="alumnosInactivos.length > 4">
            <i style="color: rgb(67, 200, 157);" class="material-icons">
              keyboard_arrow_up
              </i>
            <button class="showMoreBtn">VER MENOS</button>
          </div>
        </div>
      </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre | capitalize}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let element"> {{element.dirFisicaFormateada}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono | phone}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <ng-container *ngIf="alumnosInactivos && alumnosInactivos.length > 4">
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </ng-container>
  </table>
  <div class="emptyMessageTable" *ngIf="alumnosInactivos && alumnosInactivos.length === 0">No se encontraron alumnos</div>
</mat-tab>
</mat-tab-group>

