<mat-sidenav-container
    class="example-container" [hasBackdrop]="true" (backdropClick)="closedStudentDetail()">
  <mat-sidenav [mode]="'over'" [autoFocus]="false" style="width: 40%;" #sidenav (keydown.escape)="closedStudentDetail()" disableClose>
    <div id="matSideNavContainer">
      <div id="bottomSideNav" *ngIf="alumno">
        <div id="headerName">
          <span style="float: left; position: relative; left: 22px;">#{{alumno.idAlumno}}</span>{{alumno.nombre | capitalize}}
        </div>
        <div id="warningMessage" *ngIf="alumno.confirmado == 'false'">
          <div class="alert alert-warning" role="alert" style="padding: 6px !important;">
            <i class="fas fa-exclamation-circle" style="margin-right: 12px; font-size: 20px;"></i>
            <span style="position: relative; bottom: 1px;">
              El alumno aún no ha confirmado 
            </span>
          </div>
        </div>
        <div id="alumnoContentDetail" style="margin-top: 10px;">
          <mat-card-subtitle>
            <mat-list>
              <mat-list-item style="height: 30px;">
                <mat-icon mat-list-icon>home</mat-icon>
                <mat-card-subtitle mat-line style="text-align: left; position: relative;
                top: 2px; font-size: 15px;">
                  <span style="padding: 0; display: inline-block;" class="col-12 col-md-4">Dirección principal:</span> 
                  <span style="font-weight: 500;" class="col-12 col-md-3">{{alumno.dirPrincipalFormateada}}</span>
                </mat-card-subtitle>
              </mat-list-item>

              <mat-list-item style="height: 30px;">
                <mat-icon mat-list-icon>location_on</mat-icon>
                <mat-card-subtitle mat-line style="text-align: left; position: relative;
                top: 2px; font-size: 15px;">
                  <span style="padding: 0; display: inline-block;" class="col-12 col-md-4">Dirección alternativa:</span> 
                  <span class="col-12 col-md-3">{{alumno.dirAlternativaFormateada || 'No posee'}}</span>
                </mat-card-subtitle>
              </mat-list-item>

              <mat-list-item style="height: 30px;">
                <mat-icon mat-list-icon>update</mat-icon>
                <mat-card-subtitle mat-line style="text-align: left; position: relative;
                top: 2px; font-size: 15px;">
                  <span style="padding: 0; display: inline-block;" class="col-12 col-md-4">Fecha de alta:</span> 
                  <span class="col-12 col-md-3">{{alumno.fechaAlta | date}}</span>
                </mat-card-subtitle>
              </mat-list-item>

              <mat-list-item style="height: 30px;">
                <mat-icon mat-list-icon>assessment</mat-icon>
                <mat-card-subtitle mat-line style="text-align: left; position: relative;
                top: 2px; font-size: 15px;">
                  <span style="padding: 0; display: inline-block;" class="col-12 col-md-4">Cronograma:</span> 
                  <span matTooltip="Ir al cronograma" (click)="goToCronograma(alumno.idCronograma)" class="col-12 col-md-3" style="font-weight: 500; color: rgb(67, 200, 157); cursor: pointer; text-decoration: underline;">{{alumno.idCronograma}}
                    <span style="margin-left: 5px; font-size: 14px;"><i class="fas fa-link"></i>
                    </span>
                  </span>
                </mat-card-subtitle>
              </mat-list-item>

              <mat-list-item style="height: 30px;" *ngIf="alumno.cantClasesTotales">
                <mat-icon mat-list-icon>done</mat-icon>
                <mat-card-subtitle mat-line style="text-align: left; position: relative;
                top: 2px; font-size: 15px;">
                  <span style="padding: 0; display: inline-block;" class="col-12 col-md-4">Clases tomadas:</span> 
                  <span class="col-12 col-md-3">
                    <span style="color: rgb(67, 200, 157); font-weight: 100;">{{alumno.cantClasesTomadas}}/</span>
                    <span style="font-weight: 500; color: rgb(67, 200, 157);">{{alumno.cantClasesTotales}}</span>
                  </span>
                </mat-card-subtitle>
              </mat-list-item>
            </mat-list>
          </mat-card-subtitle>

          <div style="margin-top: 15px; text-align: left; padding-left: 26px; font-size: 17px;">Disponibilidad horaria</div>
          <mat-vertical-stepper id="studentsDetailsVS" [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup" [completed]="true">
              <ng-template matStepLabel>Lunes</ng-template>
              <div *ngIf="!alumno.disponibilidades.Monday.todoElDia">
                <mat-list>
                  <mat-list-item style="height: 30px;" *ngFor="let tramoHorario of alumno.disponibilidades.Monday.tramosHorarios; let i = index">
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <mat-card-subtitle mat-line style="text-align: left; position: relative;
                    top: 2px; font-size: 15px;">
                      <span style="padding: 0;" class="col-12 col-md-3">De <span style="color:#43c89d !important">{{tramoHorario.horarios[0]}}</span> a <span style="color:#43c89d !important">{{tramoHorario.horarios[tramoHorario.horarios.length - 1]}}</span> en </span> 
                      <span style="padding: 0; font-weight: 500;" class="col-12 col-md-3">{{tramoHorario.direccionUtilizadaFormateada}}</span>
                    </mat-card-subtitle>
                  </mat-list-item>
                </mat-list>
                <div style="font-size: 16px; color: #ce1111;" *ngIf="!alumno.disponibilidades.Monday.tramosHorarios.length">Los Lunes no está disponible</div>
                <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Monday.todoElDia">Disponible todo el día</div>
              </div>
              <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Monday.todoElDia">Disponible todo el día</div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <ng-template matStepLabel>Martes</ng-template>
              <div *ngIf="!alumno.disponibilidades.Tuesday.todoElDia">
                <mat-list>
                  <mat-list-item style="height: 30px;" *ngFor="let tramoHorario of alumno.disponibilidades.Tuesday.tramosHorarios; let i = index">
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <mat-card-subtitle mat-line style="text-align: left; position: relative;
                    top: 2px; font-size: 15px;">
                      <span style="padding: 0;" class="col-12 col-md-3">De <span style="color:#43c89d !important">{{tramoHorario.horarios[0]}}</span> a <span style="color:#43c89d !important">{{tramoHorario.horarios[tramoHorario.horarios.length - 1]}}</span> en </span> 
                      <span style="padding: 0; font-weight: 500;" class="col-12 col-md-3">{{tramoHorario.direccionUtilizadaFormateada}}</span>
                    </mat-card-subtitle>
                  </mat-list-item>
                </mat-list>
                <div style="font-size: 16px; color: #ce1111;" *ngIf="!alumno.disponibilidades.Tuesday.tramosHorarios.length">Los Martes no está disponible</div>
              </div>
              <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Tuesday.todoElDia">Disponible todo el día</div>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <ng-template matStepLabel>Miércoles</ng-template>
              <div *ngIf="!alumno.disponibilidades.Wednesday.todoElDia">
                <mat-list>
                  <mat-list-item style="height: 30px;" *ngFor="let tramoHorario of alumno.disponibilidades.Wednesday.tramosHorarios; let i = index">
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <mat-card-subtitle mat-line style="text-align: left; position: relative;
                    top: 2px; font-size: 15px;">
                      <span style="padding: 0;" class="col-12 col-md-3">De <span style="color:#43c89d !important">{{tramoHorario.horarios[0]}}</span> a <span style="color:#43c89d !important">{{tramoHorario.horarios[tramoHorario.horarios.length - 1]}}</span> en </span> 
                      <span style="padding: 0; font-weight: 500;" class="col-12 col-md-3">{{tramoHorario.direccionUtilizadaFormateada}}</span>
                    </mat-card-subtitle>
                  </mat-list-item>
                </mat-list>
                <div style="font-size: 16px; color: #ce1111;" *ngIf="!alumno.disponibilidades.Wednesday.tramosHorarios.length">Los Miércoles no está disponible</div>
              </div>
              <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Wednesday.todoElDia">Disponible todo el día</div>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
              <ng-template matStepLabel>Jueves</ng-template>
              <div *ngIf="!alumno.disponibilidades.Thursday.todoElDia">
                <mat-list>
                  <mat-list-item style="height: 30px;" *ngFor="let tramoHorario of alumno.disponibilidades.Thursday.tramosHorarios; let i = index">
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <mat-card-subtitle mat-line style="text-align: left; position: relative;
                    top: 2px; font-size: 15px;">
                      <span style="padding: 0;" class="col-12 col-md-3">De <span style="color:#43c89d !important">{{tramoHorario.horarios[0]}}</span> a <span style="color:#43c89d !important">{{tramoHorario.horarios[tramoHorario.horarios.length - 1]}}</span> en </span> 
                      <span style="padding: 0; font-weight: 500;" class="col-12 col-md-3">{{tramoHorario.direccionUtilizadaFormateada}}</span>
                    </mat-card-subtitle>
                  </mat-list-item>
                </mat-list>
                <div style="font-size: 16px; color: #ce1111;" *ngIf="!alumno.disponibilidades.Thursday.tramosHorarios.length">Los Jueves no está disponible</div>
              </div>
              <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Thursday.todoElDia">Disponible todo el día</div>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup">
              <ng-template matStepLabel>Viernes</ng-template>
              <div *ngIf="!alumno.disponibilidades.Friday.todoElDia">
                <mat-list>
                  <mat-list-item style="height: 30px;" *ngFor="let tramoHorario of alumno.disponibilidades.Friday.tramosHorarios; let i = index">
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <mat-card-subtitle mat-line style="text-align: left; position: relative;
                    top: 2px; font-size: 15px;">
                      <span style="padding: 0;" class="col-12 col-md-3">De <span style="color:#43c89d !important">{{tramoHorario.horarios[0]}}</span> a <span style="color:#43c89d !important">{{tramoHorario.horarios[tramoHorario.horarios.length - 1]}}</span> en </span> 
                      <span style="padding: 0; font-weight: 500;" class="col-12 col-md-3">{{tramoHorario.direccionUtilizadaFormateada}}</span>
                    </mat-card-subtitle>
                  </mat-list-item>
                </mat-list>
                <div style="font-size: 16px; color: #ce1111;" *ngIf="!alumno.disponibilidades.Friday.tramosHorarios.length">Los Viernes no está disponible</div>
              </div>
              <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Friday.todoElDia">Disponible todo el día</div>
            </mat-step>
            <mat-step [stepControl]="sixthFormGroup">
              <ng-template matStepLabel>Sábado</ng-template>
              <div *ngIf="!alumno.disponibilidades.Saturday.todoElDia">
                <mat-list>
                  <mat-list-item style="height: 30px;" *ngFor="let tramoHorario of alumno.disponibilidades.Saturday.tramosHorarios; let i = index">
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <mat-card-subtitle mat-line style="text-align: left; position: relative;
                    top: 2px; font-size: 15px;">
                      <span style="padding: 0;" class="col-12 col-md-3">De <span style="color:#43c89d !important">{{tramoHorario.horarios[0]}}</span> a <span style="color:#43c89d !important">{{tramoHorario.horarios[tramoHorario.horarios.length - 1]}}</span> en </span> 
                      <span style="padding: 0; font-weight: 500;" class="col-12 col-md-3">{{tramoHorario.direccionUtilizadaFormateada}}</span>
                    </mat-card-subtitle>
                  </mat-list-item>
                </mat-list>
                <div style="font-size: 16px; color: #ce1111;" *ngIf="!alumno.disponibilidades.Saturday.tramosHorarios.length">Los Sábados no está disponible</div>
              </div>
              <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Saturday.todoElDia">Disponible todo el día</div>
            </mat-step>
            <mat-step [stepControl]="seventhFormGroup">
              <ng-template matStepLabel>Domingo</ng-template>
              <div *ngIf="!alumno.disponibilidades.Sunday.todoElDia">
                <mat-list>
                  <mat-list-item style="height: 30px;" *ngFor="let tramoHorario of alumno.disponibilidades.Sunday.tramosHorarios; let i = index">
                    <mat-icon mat-list-icon>directions_car</mat-icon>
                    <mat-card-subtitle mat-line style="text-align: left; position: relative;
                    top: 2px; font-size: 15px;">
                      <span style="padding: 0;" class="col-12 col-md-3">De <span style="color:#43c89d !important">{{tramoHorario.horarios[0]}}</span> a <span style="color:#43c89d !important">{{tramoHorario.horarios[tramoHorario.horarios.length - 1]}}</span> en </span> 
                      <span style="padding: 0; font-weight: 500;" class="col-12 col-md-3">{{tramoHorario.direccionUtilizadaFormateada}}</span>
                    </mat-card-subtitle>
                  </mat-list-item>
                </mat-list>
                <div style="font-size: 16px; color: #ce1111;" *ngIf="!alumno.disponibilidades.Sunday.tramosHorarios.length">Los Domingos no está disponible</div>
              </div>
              <div style="font-size: 16px; color: #43c89d;" *ngIf="alumno.disponibilidades.Sunday.todoElDia">Disponible todo el día</div>
            </mat-step>
          </mat-vertical-stepper>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="studentsAllContainer" class="col-12 col-md-10 offset-md-1" style="padding: 0px;">
      <mat-tab-group id="studentsTabGroup" style="margin-top: 20px;" mat-stretch-tabs>
      
      <mat-tab label="({{alumnosActivosLength}}) Activos">
    
        <mat-form-field class="buscarInput" style="width: 100%; margin-top: 20px;">
          <input (keyup)="applyFilter($event, 'AlumnosActivos')" matInput placeholder="Buscar alumno.." name="busquedaAlumno"
              [(ngModel)]="busquedaAlumnoActivo" #busquedaAlumno="ngModel">
        </mat-form-field>
    
        <div class="tablesContainer">
          <table mat-table id="alumnosActivosTable" [dataSource]="alumnosActivos" class="mat-elevation-z8">
                  
            <!-- Position Column -->
            <ng-container matColumnDef="No">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.idAlumno}} </td>
              <td mat-footer-cell *matFooterCellDef>               
                <div style="text-align: center; width: 100%;">
                  <div style="cursor: pointer; margin-top: 10px;" (click)="showMore(auto, 'clasesPorRealizarse')" *ngIf="alumnosActivos.length == 4 && alumnosActivos.length > 4">
                    <i style="color: rgb(67, 200, 157);" class="material-icons">
                      keyboard_arrow_down
                      </i>
                    <button class="showMoreBtn">VER MÁS</button>
                  </div>
                  <div style="cursor: pointer; margin-top: 10px;" (click)="showLess(auto, 'clasesPorRealizarse')" *ngIf="alumnosActivos.length > 4">
                    <i style="color: rgb(67, 200, 157);" class="material-icons">
                      keyboard_arrow_up
                      </i>
                    <button class="showMoreBtn">VER MENOS</button>
                  </div>
                </div>
              </td>
            </ng-container>
      
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre | capitalize}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
      
            <!-- Weight Column -->
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección del alumno </th>
              <td mat-cell *matCellDef="let element"> {{ (element.id_DirFisica) ? element.dirFisicaFormateada: 'No posee'}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
      
            <!-- Symbol Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let element"> {{element.telefono | phone}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
      
            <!-- Symbol Column -->
            <ng-container matColumnDef="documento">
              <th mat-header-cell *matHeaderCellDef> Documento </th>
              <td mat-cell *matCellDef="let element"> {{element.documento | document}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
      
            <!-- Symbol Column -->
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acción </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">
                <div>
                  <div style="display: inline-block;" (click)="editarAlumno(element, $event);">
                    <i style="color: #3f51b5;" class="material-icons icons" matTooltip="Editar">
                      edit
                    </i>
                  </div>
      
                  <div style="display: inline-block; padding-left: 10px;" (click)="eliminarAlumno(element, $event);">
                    <i style="color: #d61c1c;" class="material-icons icons" matTooltip="Dar de baja">
                      archive
                    </i>
                  </div>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetail(row)"></tr>
            <ng-container *ngIf="alumnosActivos && alumnosActivos.length > 4">
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </ng-container>
          </table>
        </div>
      <div class="emptyMessageTable" *ngIf="alumnosActivos && alumnosActivos.length === 0">No se encontraron alumnos</div>
      </mat-tab>
    
      <mat-tab label="({{alumnosPendientesLength}}) Pendientes">
        <mat-form-field style="width: 100%; margin-top: 20px; padding-left: 15px;
        padding-right: 15px;">
          <input (keyup)="applyFilter($event, 'AlumnosPendientes')" matInput placeholder="Buscar alumno.." name="busquedaAlumno"
              [(ngModel)]="busquedaAlumnoInctivos" #busquedaAlumno="ngModel">
        </mat-form-field>
        <div class="tablesContainer">
          <table mat-table id="alumnosPendientesTable" [dataSource]="alumnosPendientes" class="mat-elevation-z8">     
            <!-- Position Column -->
            <ng-container matColumnDef="No">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.idAlumno}} </td>
              <td mat-footer-cell *matFooterCellDef>               
                <div style="text-align: center; width: 100%;">
                  <div style="cursor: pointer; margin-top: 10px;" (click)="showMore(auto, 'clasesPorRealizarse')" *ngIf="alumnosPendientes.length == 4 && alumnosPendientes.length > 4">
                    <i style="color: rgb(67, 200, 157);" class="material-icons">
                      keyboard_arrow_down
                      </i>
                    <button class="showMoreBtn">VER MÁS</button>
                  </div>
                  <div style="cursor: pointer; margin-top: 10px;" (click)="showLess(auto, 'clasesPorRealizarse')" *ngIf="alumnosPendientes.length > 4">
                    <i style="color: rgb(67, 200, 157);" class="material-icons">
                      keyboard_arrow_up
                      </i>
                    <button class="showMoreBtn">VER MENOS</button>
                  </div>
                </div>
              </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre | capitalize}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección del alumno </th>
              <td mat-cell *matCellDef="let element"> {{ (element.id_DirFisica) ? element.dirFisicaFormateada:'No posee'}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let element"> {{element.telefono | phone}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="documento">
              <th mat-header-cell *matHeaderCellDef> Documento </th>
              <td mat-cell *matCellDef="let element"> {{ element.documento | document}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef> Acción </th>
              <td mat-cell *matCellDef="let element">    
                <div (click)="editarAlumno(element, $event);">
                  <i style="color: blue;" class="material-icons" title="Editar">
                    edit
                  </i>
                </div> 
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetail(row)"></tr>
            <ng-container *ngIf="alumnosPendientes && alumnosPendientes.length > 4">
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </ng-container>
          </table>
        </div>
        <div class="emptyMessageTable" *ngIf="alumnosPendientes && alumnosPendientes.length === 0">No se encontraron alumnos</div>
      </mat-tab>

      <mat-tab label="({{alumnosInactivosLength}}) Históricos">
      
        <mat-form-field style="width: 100%; margin-top: 20px; padding-left: 15px;
        padding-right: 15px;">
          <input (keyup)="applyFilter($event, 'AlumnosInactivos')" matInput placeholder="Buscar alumno.." name="busquedaAlumno"
              [(ngModel)]="busquedaAlumnoInctivos" #busquedaAlumno="ngModel">
        </mat-form-field>
      
        <div class="tablesContainer">
          <table mat-table id="alumnosInactivosTable" [dataSource]="alumnosInactivos" class="mat-elevation-z8">     
            <!-- Position Column -->
            <ng-container matColumnDef="No">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.idAlumno}} </td>
              <td mat-footer-cell *matFooterCellDef>               
                <div style="text-align: center; width: 100%;">
                  <div style="cursor: pointer; margin-top: 10px;" (click)="showMore(auto, 'clasesPorRealizarse')" *ngIf="alumnosInactivos.length == 4 && alumnosInactivos.length > 4">
                    <i style="color: rgb(67, 200, 157);" class="material-icons">
                      keyboard_arrow_down
                      </i>
                    <button class="showMoreBtn">VER MÁS</button>
                  </div>
                  <div style="cursor: pointer; margin-top: 10px;" (click)="showLess(auto, 'clasesPorRealizarse')" *ngIf="alumnosInactivos.length > 4">
                    <i style="color: rgb(67, 200, 157);" class="material-icons">
                      keyboard_arrow_up
                      </i>
                    <button class="showMoreBtn">VER MENOS</button>
                  </div>
                </div>
              </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre | capitalize}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección del alumno </th>
              <td mat-cell *matCellDef="let element"> {{element.dirFisicaFormateada}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let element"> {{element.telefono | phone}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="documento">
              <th mat-header-cell *matHeaderCellDef> Documento </th>
              <td mat-cell *matCellDef="let element"> {{element.documento | document}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef> Acción </th>
              <td mat-cell *matCellDef="let element">    
                <div (click)="editarAlumno(element, $event);">
                  <i style="color: blue;" class="material-icons" title="Editar">
                    keyboard_arrow_up
                  </i>
                </div> 
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <ng-container *ngIf="alumnosInactivos && alumnosInactivos.length > 4">
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </ng-container>
          </table>
        </div>
        <div class="emptyMessageTable" *ngIf="alumnosInactivos && alumnosInactivos.length === 0">No se encontraron alumnos</div>
      </mat-tab>

    </mat-tab-group>
    </div>


  </mat-sidenav-content>

</mat-sidenav-container>
<custom-modal #customModal (close)="onCustomModalClose($event);" (confirmation)="confirmEliminarAlumno($event);" [data]="dataToEliminarAlumno" [component]="'eliminarAlumno'" [successBanner]="showSuccessBanner"></custom-modal>
