<div class="container">
    <div>
        <mat-expansion-panel [expanded]="control_collapse_search == true" (opened)="control_collapse_search = true" style="margin-top: 30px;">
            <mat-expansion-panel-header style="background-color:#43c89d;">
                <mat-panel-title style="color:white;">
                    <i style="margin-top: 3px; margin-right: 20px;" class="fas fa-search"></i><span>BUSCAR</span>
                </mat-panel-title>
                <mat-panel-description style="color:white;">
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form (ngSubmit)="searchSchedules(forma)" #forma="ngForm" novalidate="">
                <div class="form-group">
                    <div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput readonly [matDatepicker]="picker" (click)="picker.open()"
                                        (focus)="picker.open()" placeholder="Desde" [(ngModel)]="search.date"
                                        [ngModelOptions]="{standalone: true}" [min]="minDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker [touchUi]="isMobile()" #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="N° de clases" name="lessons"
                                        [(ngModel)]="search.lessons" #altitud="ngModel">
                                </mat-form-field>
                            </div>
                        </div>
                        <div style="margin-top: 20px;"><label
                                style="font-weight: 500; font-size: 18px;">Dirección:</label></div>
                        <div style="font-size: 13px; margin-bottom: 15px;" class="text-muted">Recuerde que debe ingresar
                            al menos una interseccion o un numero para realizar la busqueda</div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Localidad</mat-label>
                                    <mat-select [(ngModel)]="search.address[4].city" name="city"
                                        (selectionChange)="selectionCity($event.value)">
                                        <mat-option *ngFor="let city of locations" [value]="city">
                                            {{city}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9 col-sm-7 col-md-6 col-lg-4">
                                <mat-checkbox style="margin-right: 15px;" name="street_diag"
                                    [(ngModel)]="search.address[0].diag">Diag</mat-checkbox>
                                <mat-form-field style="width: 125px;">
                                    <input matInput placeholder="Calle" name="street"
                                        [(ngModel)]="search.address[0].street" #street="ngModel" required>
                                </mat-form-field>
                                <div *ngIf="street.errors?.required && street.touched"
                                    style="color: #f44336; font-size: 12px; margin-bottom: 10px; margin-top: -10px;">
                                    Debe ingresar una calle para continuar.
                                </div>
                            </div>
                            <div class="col-3 col-sm-5 col-md-6 col-lg-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Numero" name="altitud"
                                        [(ngModel)]="search.address[3].altitud" #altitud="ngModel">
                                </mat-form-field>
                            </div>
                        </div>
                        <div><label>Entre:</label></div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <mat-checkbox style="margin-right: 15px;" name="street_a_diag"
                                    [(ngModel)]="search.address[1].diag">Diag</mat-checkbox>
                                <mat-form-field style="width: 125px;">
                                    <input matInput placeholder="Calle" name="street_a"
                                        [(ngModel)]="search.address[1].street_a">
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-sm-1" style="margin: auto;"></div> -->
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                <mat-checkbox style="margin-right: 15px;" name="street_b_diag"
                                    [(ngModel)]="search.address[2].diag">Diag</mat-checkbox>
                                <mat-form-field style="width: 125px;">
                                    <input matInput placeholder="Calle" name="street_b"
                                        [(ngModel)]="search.address[2].street_b">
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="address_complete" style="color: #f44336; font-size: 12px;">
                            Debe ingresar al menos una interseccion o un numero para realizar la busqueda
                        </div>
                    </div>
                </div>
                <div style="margin-top: 30px;"><label style="font-weight: 500; font-size: 18px;">Horarios habiles:</label></div>
                <div style="font-size: 13px; margin-bottom: 15px;" class="text-muted">Recuerde que debe ingresar
                    al menos un horario para realizar la busqueda</div>
                <mat-tab-group mat-align-tabs="start" #tabulator>
                    <div *ngFor="let day of search.dates_times; let i = index;">
                        <mat-tab label="{{day.name_day}}">
                            <div class="container" (swipeleft)="onSwipeLeft($event, tabulator)"
                            (swiperight)="onSwipeRight($event, tabulator)" style="overflow-y: hidden;">
                                <div *ngIf="!search.dates_times[i].all_day">
                                    <div class="row margin-top-30"
                                        *ngFor="let option of search.dates_times[i].option; let j = index;">
                                        <div class="col-sm-5"
                                            *ngIf="search.dates_times[i].option[j].hour_start || search.dates_times[i].option[j].hour_start == null">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Desde</mat-label>
                                                <mat-select
                                                    (selectionChange)="doScheduleTo(day.name_day,$event.value,j)">
                                                    <mat-option
                                                        *ngFor="let hour of search.dates_times[i].option[j].scheduleFrom"
                                                        [value]="hour">
                                                        {{hour}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-5"
                                            *ngIf="search.dates_times[i].option[j].scheduleTo.length > 0">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Hasta</mat-label>
                                                <mat-select
                                                    (selectionChange)="setHourFinish(search.dates_times[i].option[j],$event.value)">
                                                    <mat-option
                                                        *ngFor="let hour of search.dates_times[i].option[j].scheduleTo"
                                                        [value]="hour">
                                                        {{hour}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-2" style="margin: auto;"
                                            *ngIf="(search.dates_times[i].option[j].hour_start || search.dates_times[i].option[j].hour_start == null) && j == (search.dates_times[i].option.length - 1)">
                                            <button style="width: 100%;" mat-button
                                                (click)="removeOption(j,search.dates_times[i].option)"><span
                                                    style="font-size: 25px"><i
                                                        class="fas fa-trash-alt"></i></span></button>
                                        </div>
                                    </div>
                                    <div style="margin: auto;">
                                        <button type="button" style="width: 100%;" mat-button
                                            (click)="addDateTime(day.name_day)" [disabled]="control_flag_empty"><span
                                                style="font-size: 25px"><i
                                                    class="fas fa-plus-circle"></i></span></button>
                                    </div>
                                </div>
                                <div class="margin-top-30" style="text-align: center;">
                                    <mat-checkbox (change)="allDay(day.name_day,$event)">Disponible todo el dia
                                    </mat-checkbox>
                                </div>
                            </div>
                        </mat-tab>
                    </div>
                </mat-tab-group>

                <!-- Excepciones -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header style="background-color:#43c89d;">
                        <mat-panel-title style="color:white;">
                            <i style="margin-top: 3px; margin-right: 20px;"></i><span>Excepciones</span>
                        </mat-panel-title>
                        <mat-panel-description style="color:white;">
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- agregar excepcion -->
                    <div style="margin: auto;">
                        <button type="button" style="width: 100%;" mat-button
                            (click)="addException()"><span
                                style="font-size: 25px"><i
                                    class="fas fa-plus-circle"></i></span>
                        </button>
                    </div>



                    <!-- array de excepciones -->
                    <div *ngIf="excepciones.length" class="col-6 col-sm-6 col-md-6 col-lg-4">
                        <div *ngFor="let excepcion of excepciones; let j = index">
                            <!-- fecha excepcion -->
                            <mat-form-field class="example-full-width">
                                <input matInput readonly [matDatepicker]="pickerExcepcion" (click)="pickerExcepcion.open()"
                                    (focus)="pickerExcepcion.open()" placeholder="Fecha"
                                    [min]="minDate" [(ngModel)]="excepcion.date" name="excepcionDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerExcepcion"></mat-datepicker-toggle>
                                <mat-datepicker [touchUi]="isMobile()" #pickerExcepcion></mat-datepicker>
                            </mat-form-field>

                            <!-- tramos de horarios de excepcion -->
                            <div *ngFor="let excepcionRowTIme of excepcion.horarios; let h = index">
                                <!-- fecha desde tramo -->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Desde</mat-label>
                                    <mat-select #horariosDesde
                                        (selectionChange)="doExcepcionHours($event.value, j, h)">
                                        <mat-option *ngFor="let horario of excepcionRowTIme.horariosDesde; let i = index" [value]="i">
                                            {{horario}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- fecha hasta tramo -->
                                <mat-form-field class="example-full-width">
                                    <mat-label>Hasta</mat-label>
                                    <mat-select (selectionChange)="setExceptionHourFinish($event.value, j, h)"> 
                                        <mat-option *ngFor="let horario of excepcionRowTIme.horariosHasta; let i = index" [value]="i">
                                            {{horario}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- agregar nuevo tramo -->
                                <div style="margin: auto;">
                                    <button type="button" style="width: 100%;" mat-button
                                        (click)="addNewRowTime(j)"><span
                                            style="font-size: 25px"><i
                                                class="fas fa-plus-circle"></i></span>
                                    </button>
                                </div>

                                <!-- eliminar tramo -->
                                <div class="col-sm-2" style="margin: auto;">
                                    <button style="width: 100%;" mat-button
                                        (click)="removeRowTime(j, h)"><span
                                            style="font-size: 25px"><i
                                                class="fas fa-trash-alt"></i></span>
                                    </button>
                                </div>
                            </div>

                            <!-- eliminar excepcion -->
                            <div *ngIf="excepciones.length" class="col-sm-2" style="margin: auto;">
                                <button style="width: 100%;" mat-button
                                    (click)="removeExcepcion(j)"><span
                                        style="font-size: 25px"><i
                                            class="fas fa-trash-alt"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </mat-expansion-panel>
                <div class="form-group" style="text-align: right;">
                    <button mat-button type="submit"
                        [disabled]="(!forma.valid || (!(search.address[3].altitud != '') && !(search.address[1].street_a != '') && !(search.address[2].street_b != '')) || schedule_send_null)">BUSCAR</button>
                </div>
            </form>
        </mat-expansion-panel>
        <br>
        <available-schedules *ngIf="available_schedules" [data]="available_schedules"></available-schedules>
    </div>
</div>