<div class="container">

    <div class="col-sm-12">
        <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
            <div class="form-group">
                <div class="col-sm-9">

                    
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Desde" [(ngModel)]="search.date" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-sm-2" style="margin: auto;"><mat-checkbox name="street_diag" [(ngModel)]="search.address[0].diag">Diag</mat-checkbox></div>
                        <div class="col-sm-10">
                            <mat-form-field class="example-full-width">
                                <input 
                                    matInput 
                                    placeholder="Calle"
                                    name="street"
                                    [(ngModel)]="search.address[0].street"
                                    #street="ngModel"
                                    required
                                >
                            </mat-form-field>
                        </div>
                    </div>
                    

                    <div *ngIf="street.errors?.required && street.touched" style="color: #f44336;">
                        Debe ingresar una calle para continuar.
                    </div>

                    <div class="row">
                        <div class="col-sm-2" style="margin: auto;"><span>Entre:</span></div>
                        <div class="col-sm-2" style="margin: auto;"><mat-checkbox name="street_a_diag" [(ngModel)]="search.address[1].diag">Diag</mat-checkbox></div>
                        <div class="col-sm-2">
                            <mat-form-field class="example-full-width">
                                <input 
                                    matInput 
                                    placeholder="Calle"
                                    name="street_a"
                                    [(ngModel)]="search.address[1].street_a"
                                    #street_a="ngModel"
                                    required
                                >
                            </mat-form-field>
                        </div>
                        <div class="col-sm-1" style="margin: auto;"><span>y</span></div>
                        <div class="col-sm-2" style="margin: auto;"><mat-checkbox name="street_b_diag" [(ngModel)]="search.address[2].diag">Diag</mat-checkbox></div>
                        <div class="col-sm-2">
                            <mat-form-field class="example-full-width">
                                <input 
                                    matInput 
                                    placeholder="Calle"
                                    name="street_b"
                                    [(ngModel)]="search.address[2].street_b"
                                    >
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="street_a.errors?.required && street_a.touched" style="color: #f44336;">
                        Debe ingresar una interseccion para continuar.
                    </div>
                </div>
            </div>

            <mat-tab-group mat-align-tabs="start">
                <div *ngFor="let day of week">
                    <mat-tab label="{{day}}">
                        <div class="container" style="overflow-y: hidden;">
                            <div class="row margin-top-30">
                                <div class="col-sm-5">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Desde</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let hour of schedule" [value]="hour">
                                            {{hour}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> 
                                <div class="col-sm-5">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Hasta</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let hour of schedule" [value]="hour">
                                            {{hour}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-sm-2" style="margin: auto;">
                                    <button style="width: 100%;" mat-button><span style="font-size: 25px"><i class="fas fa-trash-alt"></i></span></button>   
                                </div> -->
                            </div>
                            <div style="margin: auto;">
                                <button style="width: 100%;" mat-button (click)="addDateTime(day)"><span style="font-size: 25px"><i class="fas fa-plus-circle"></i></span></button>   
                            </div>
                            <div class="margin-top-30">
                                <mat-checkbox  (change)="allDay(day,$event)">Disponible todo el dia</mat-checkbox>
                            </div>
                        </div>
                    </mat-tab>
                </div> 
            </mat-tab-group>
                

            <div class="form-group">
                <button mat-button type="submit" [disabled]="!forma.valid">GUARDAR</button>
            </div>
        </form>
    </div>

</div>