.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  ::ng-deep .mat-checkbox-layout{
    margin: auto !important;
  }

  ::ng-deep .mat-expansion-indicator::after {
    color:white;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color:#43c89d;
  }


  ::ng-deep .mat-checkbox-inner-container {
    height: 15px !important;
    width: 15px !important;
  }

  .excepcion:hover {
    background-color:rgba(108, 117, 125, 0.12);
    border-radius: 4px;
  }

  .btnHover:hover {
    border-radius: 25px;
  }

  .btnHover:focus {
    outline: none !important;
  }

  // ::ng-deep .mat-tab-label-active {
  //   color: #43c89d !important;
  //   font-weight: 500;
  // } 