.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-tab-body.mat-tab-body-active {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  ::ng-deep .mat-checkbox-layout{
    margin: auto !important;
  }