.mat-snack-bar-container {
    margin-bottom: 10px !important;
    font-size: 15px !important;
    padding: 8px !important;
    width: 600px;
    max-width: 100%;
    margin: 10px !important;
    border-radius: 50px;
}

.message {
    margin-bottom: 0px;
}

.margin-left-10 {
    margin-left: 10px;
}

.infoIcon {
    color: #ea1010;
    font-size: 20px;
    margin-left: 3px;
}

.successIcon {
    color: #43c89d;
    font-size: 20px;
    margin-left: 3px;
}