.mat-snack-bar-container {
    margin-bottom: 10px !important;
    font-size: 15px !important;
    border-radius: 50px !important;
    padding: 14px !important;
}

.message {
    margin-bottom: 0px;
}

.margin-left-10 {
    margin-left: 10px;
}

.infoIcon {
    color: #ea1010;
    font-size: 30px;
    margin-left: 3px;
}

.successIcon {
    color: #43c89d;
    font-size: 30px;
    margin-left: 3px;
}