<div class="snackBar">
  <div class="row">
    <div class="col-1" style="margin: auto 0px;">
      <i *ngIf="data.code != 0" class="fas fa-info-circle infoIcon">
      </i>
      <i *ngIf="data.code == 0" class="far fa-check-circle successIcon">
      </i>
    </div>
    <div class="col-10" style="padding-right: 0px;     padding-left: 0px;
    position: relative;
    bottom: 1px;">
      <p class="message" [ngClass]="{'margin-left-10': data.code == 0}">
        {{data.data}}
      </p>
    </div>
  </div>
</div>
