<div class="container" style="margin-top: 100px;" id="changePasswordContainer">

  <div *ngIf="!changePasswordFromLink" id="titleEditing" class="col-12 col-md-6 offset-md-3">
    <span class="returnArrow" (click)="navigateToProfile();">
      <i matTooltip="Volver" class="material-icons" style="line-height: 40px;">
      arrow_back
      </i></span>
    <span>Cambiar contraseña</span>
  </div>

  <div style="text-align: center;" *ngIf="changePasswordFromLink" id="titleEditing" class="col-12 col-md-6 offset-md-3">
    <span>Reestablecer contraseña</span>
  </div>

  <div id="passwordImageContainer">
    <img src="assets/img/changePassword.png" style="width: 150px; height: 150px;">
  </div>

  <div id="newPasswordFormContainer" class="col-12 col-md-6 offset-md-3">
    <form *ngIf="!changePasswordFromLink" #formNewPassword="ngForm" id="formNewPassword" (submit)="formNewPassword.valid && !notMatchedPasswords && changePassword()">
      <mat-form-field hideRequiredMarker style="width: 100%; margin-top: 15px;">
        <input autocomplete="on" matInput #oldPasswordModel="ngModel" minlength="8" maxlength="16" [type]="showOldPass ? 'text':'password'" [(ngModel)]="oldPassword" style="border-bottom:none; height: 18px;" name="oldPassword" id="oldPassword" placeholder="Contraseña actual" required>
        <button tabIndex="-1" type="button" mat-button (click)="showOldPassword()" matSuffix mat-icon-button style="cursor: pointer; font-size: 22px; color: #43c89d;">
          <mat-icon *ngIf="!showOldPass">visibility</mat-icon>
          <mat-icon *ngIf="showOldPass">visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="(oldPasswordModel.errors && oldPasswordModel.touched && !oldPasswordModel.pristine) || submitted ">
        <div class="help-text text-danger" *ngIf="oldPasswordModel.errors?.required" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese su contraseña actual
        </div>
        <div class="help-text text-danger" *ngIf="oldPasswordModel.errors?.minlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como mínimo {{oldPasswordModel.errors.minlength.requiredLength}} caracteres
        </div>
        <div class="help-text text-danger" *ngIf="oldPasswordModel.errors?.maxlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como máximo {{oldPasswordModel.errors.maxlength.requiredLength}} caracteres
        </div>
      </div>

      <mat-form-field hideRequiredMarker style="width: 100%; margin-top: 15px;">
        <input autocomplete="on" (input)="checkRepeatedPasswords()" matInput #newPasswordModel="ngModel" minlength="8" maxlength="16" [type]="showPass ? 'text':'password'" [(ngModel)]="newPassword" style="border-bottom:none; height: 18px;" name="newPassword" id="newPassword" placeholder="Nueva contraseña" required>
        <button tabIndex="-1" type="button" mat-button (click)="showPassword()" matSuffix mat-icon-button style="cursor: pointer; font-size: 22px; color: #43c89d;">
          <mat-icon *ngIf="!showPass">visibility</mat-icon>
          <mat-icon *ngIf="showPass">visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="(newPasswordModel.errors && newPasswordModel.touched && !newPasswordModel.pristine) || submitted ">
        <div class="help-text text-danger" *ngIf="newPasswordModel.errors?.required" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese una nueva contraseña
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordModel.errors?.minlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como mínimo {{newPasswordModel.errors.minlength.requiredLength}} caracteres
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordModel.errors?.maxlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como máximo {{newPasswordModel.errors.maxlength.requiredLength}} caracteres
        </div>
        <div class="help-text text-danger" *ngIf="errorMsg != ''" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 10px;">
          {{errorMsg}}
        </div>
      </div>

      <mat-form-field hideRequiredMarker style="width: 100%; margin-top: 15px;">
        <input autocomplete="on" (input)="checkRepeatedPasswords()" matInput #newPasswordRepeatModel="ngModel" minlength="8" maxlength="16" [type]="showRepeatPass ? 'text':'password'" [(ngModel)]="newPasswordRepeat" style="border-bottom:none; height: 18px;" name="newPasswordRepeat" id="newPasswordRepeat" placeholder="Repetir contraseña" required>
        <button tabIndex="-1" type="button" mat-button (click)="showRepeatPassword()" matSuffix mat-icon-button style="cursor: pointer; font-size: 22px; color: #43c89d;">
          <mat-icon *ngIf="!showRepeatPass">visibility</mat-icon>
          <mat-icon *ngIf="showRepeatPass">visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="(newPasswordRepeatModel.errors && newPasswordRepeatModel.touched && !newPasswordRepeatModel.pristine) || submitted ">
        <div class="help-text text-danger" *ngIf="newPasswordRepeatModel.errors?.required" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, repita la nueva contraseña
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordRepeatModel.errors?.minlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como mínimo {{newPasswordRepeatModel.errors.minlength.requiredLength}} caracteres
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordRepeatModel.errors?.maxlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como máximo {{newPasswordRepeatModel.errors.maxlength.requiredLength}} caracteres
        </div>
      </div>

      <div class="help-text text-danger" *ngIf="notMatchedPasswords" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
        Las contraseñas deben coincidir
      </div>

      <password-strength-meter [password]="newPasswordModel.value"></password-strength-meter>

      <button mat-button type="submit" (click)="submitted = true" class="loginSubmit" style="margin-top: 20px; margin-bottom:5px; width: 100%;">CONFIRMAR</button>
    </form>

    <form *ngIf="changePasswordFromLink" #formNewPassword="ngForm" id="formNewPassword" (submit)="formNewPassword.valid && !notMatchedPasswords && changeForgottenPassword()">
      <mat-form-field hideRequiredMarker style="width: 100%; margin-top: 15px;">
        <input autocomplete="on" (input)="checkRepeatedPasswords()" matInput #newPasswordModel="ngModel" minlength="8" maxlength="16" [type]="showPass ? 'text':'password'" [(ngModel)]="newPassword" style="border-bottom:none; height: 18px;" name="newPassword" id="newPassword" placeholder="Nueva contraseña" required>
        <button tabIndex="-1" type="button" mat-button (click)="showPassword()" matSuffix mat-icon-button style="cursor: pointer; font-size: 22px; color: #43c89d;">
          <mat-icon *ngIf="!showPass">visibility</mat-icon>
          <mat-icon *ngIf="showPass">visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="(newPasswordModel.errors && newPasswordModel.touched && !newPasswordModel.pristine) || submitted ">
        <div class="help-text text-danger" *ngIf="newPasswordModel.errors?.required" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese una nueva contraseña
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordModel.errors?.minlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como mínimo {{newPasswordModel.errors.minlength.requiredLength}} caracteres
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordModel.errors?.maxlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como máximo {{newPasswordModel.errors.maxlength.requiredLength}} caracteres
        </div>
        <div class="help-text text-danger" *ngIf="errorMsg != ''" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 10px;">
          {{errorMsg}}
        </div>
      </div>

      <mat-form-field hideRequiredMarker style="width: 100%; margin-top: 15px;">
        <input autocomplete="on" (input)="checkRepeatedPasswords()" matInput #newPasswordRepeatModel="ngModel" minlength="8" maxlength="16" [type]="showRepeatPass ? 'text':'password'" [(ngModel)]="newPasswordRepeat" style="border-bottom:none; height: 18px;" name="newPasswordRepeat" id="newPasswordRepeat" placeholder="Repetir contraseña" required>
        <button tabIndex="-1" type="button" mat-button (click)="showRepeatPassword()" matSuffix mat-icon-button style="cursor: pointer; font-size: 22px; color: #43c89d;">
          <mat-icon *ngIf="!showRepeatPass">visibility</mat-icon>
          <mat-icon *ngIf="showRepeatPass">visibility_off</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="(newPasswordRepeatModel.errors && newPasswordRepeatModel.touched && !newPasswordRepeatModel.pristine) || submitted ">
        <div class="help-text text-danger" *ngIf="newPasswordRepeatModel.errors?.required" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, repita la nueva contraseña
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordRepeatModel.errors?.minlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como mínimo {{newPasswordRepeatModel.errors.minlength.requiredLength}} caracteres
        </div>
        <div class="help-text text-danger" *ngIf="newPasswordRepeatModel.errors?.maxlength" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
          Por favor, ingrese como máximo {{newPasswordRepeatModel.errors.maxlength.requiredLength}} caracteres
        </div>
      </div>

      <div class="help-text text-danger" *ngIf="notMatchedPasswords" style="font-size: 13px; font-weight:500; margin-top: -15px; margin-bottom: 25px;">
        Las contraseñas deben coincidir
      </div>

      <password-strength-meter [password]="newPasswordModel.value"></password-strength-meter>

      <button mat-button type="submit" (click)="submitted = true" class="loginSubmit" style="margin-top: 20px; margin-bottom:5px; width: 100%;">CONFIRMAR</button>
    </form>
  </div>
</div>