.margin-top-15{
    margin-top:15px;
}

.margin-top-30{
    margin-top:30px;
}

.mat-ink-bar {
    background-color:#43c89d !important;  
}

.padding-20 {
    padding: 20px;
}

.confirmButton {
    color: #43c89d;
}

.confirmButton:hover {
    background: #43c89d;
    color: white;
}

.confirmButton:focus {
    outline-color: white;
}

@media (max-width: 767px) {
    .mobile-text-12 {
        font-size: 12px !important;
    }   
}