<div id="confirmModal" class="modal" tabindex="-1" role="dialog" #modalMensaje>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" (click)="close();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="successBanner">CRONOGRAMA GUARDADO EXITOSAMENTE</div>
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose();">Close</button>
        <button *ngIf="!successBanner" type="button" class="btn btn-primary" (click)="onConfirm();">Save changes</button>
        <button *ngIf="successBanner" type="button" class="btn btn-primary" (click)="sendWsp();">Enviar vía Whatsapp <i class="fab fa-whatsapp"></i></button>
      </div>
    </div>
  </div>
</div>