.height-290 {
    height:290px !important;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #43c89d;
    border-radius: 50%;
    display: inline-block;
}

.closeCross {
    color: white;
    opacity: 1;
}

.confirmCustomModal {
    margin: auto; 
    border-radius: 20px;
}

.confirmSchedule {
    background-color: #43c89d; 
    border-color: #43c89d;
}

.cancelSchedule {
    background-color: #ef2b2b; 
    border-color: #ef2b2b;
}