<div *ngIf="this.data" id="confirmModal" class="modal" tabindex="-1" role="dialog" #modalMensaje>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!successBanner">Confirmar cronograma</h5>
        <h5 class="modal-title" *ngIf="successBanner">Cronograma guardado con exito</h5>
        <button *ngIf="!successBanner" type="button" class="close" (click)="onClose();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <button *ngIf="successBanner" type="button" class="close" (click)="resetSearch();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Clases:
          <div *ngFor="let clase of this.data[0].selected_options;">
            <p>Dia: {{clase.fecha}} - Hora: {{clase.horario}} hs - Auto: {{clase.id_auto}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" (click)="onClose();">Close</button> -->
        <button *ngIf="!successBanner" type="button" class="btn btn-primary" (click)="onConfirm();" style="margin: auto; border-radius: 20px; background-color: #43c89d; border-color: #43c89d;">Confirmar cronograma</button>
        <button *ngIf="successBanner" type="button" class="btn btn-primary" (click)="sendWsp();" style="margin: auto; border-radius: 20px; background-color: #43c89d; border-color: #43c89d;">Enviar vía Whatsapp <i class="fab fa-whatsapp"></i></button>
      </div>
    </div>
  </div>
</div>
