<div class="container" style="margin-top: 105px;">
  <div class="row">
    <div class="col-12">

      <div id="warningMessage" *ngIf="(alumnoInformation.activo == 'true' && alumnoInformation.confirmado == 'true') || (alumnoInformation.confirmado == 'false')">
        <div class="alert warning-custom" role="alert" style="padding-left: 10px !important;">
          <i class="fas fa-exclamation-circle" style="margin-right: 12px; font-size: 25px;"></i>
          <span style="position: relative; bottom: 4px;">Para editar los datos relacionados al cronograma deberá buscar el cronograma 
            <span style="font-weight: 500;">{{alumnoInformation.idCronograma}}</span> 
            en la pantalla de 
            <span style="font-weight: 500;">Cronogramas</span>
          </span>
        </div>
      </div>

      <div id="infoMessage" *ngIf="alumnoInformation.activo == 'false' && alumnoInformation.confirmado == 'true'">
        <div class="alert alert-info" role="alert" style="padding-left: 10px !important;">
          <i class="fas fa-exclamation-circle" style="margin-right: 12px; font-size: 25px;"></i>
          <span style="position: relative; bottom: 4px;">Los datos relacionados al cronograma no se podrán editar. 
            Los mismos podrán ser editados cuando el alumno reincida
          </span>
        </div>
      </div>


      <div id="titleEditing">
        <span class="returnArrow" (click)="volverAlumnos();">
          <i matTooltip="Volver" class="material-icons" style="line-height: 40px;">
          arrow_back
          </i></span>
        <span>{{alumnoInformation.nombre | capitalize}}</span>
      </div>

      <ng-template #stepOne>
        <form>
          <div id="datosPersonalesContainer" class="row" style="width: 100%; padding: 0px;">
            <!-- NOMBRE DEL ALUMNO -->
            <div class="col-sm-12 col-md-4">
              <mat-form-field style="width: 100%;">
                  <input #student_name_name="ngModel" maxlength="60" matInput placeholder="Nombre del alumno" name="student_name_name" [(ngModel)]="search.student_name"
                    required autofocus>
              </mat-form-field>
              <div *ngIf="student_name_name.errors?.required && student_name_name.touched"
                  style="color: #f44336; font-size: 12px; margin-bottom: 10px; margin-top: -10px;">
                  Debe ingresar el nombre del alumno para continuar
              </div>
            </div>

            <!-- TELEFONO -->
            <div class="col-sm-12 col-md-4">
              <mat-form-field style="width: 100%;">
                  <input type="text" #student_phone_name="ngModel" maxlength="14" matInput placeholder="Teléfono del alumno" name="student_phone_name" (ngModelChange)="search.student_phone = $event" [ngModel]="search.student_phone | phone"
                    required (keypress)="preventLetters($event)" autofocus>
              </mat-form-field>
              <div *ngIf="student_phone_name.errors?.required && student_phone_name.touched"
                  style="color: #f44336; font-size: 12px; margin-bottom: 10px; margin-top: -10px;">
                  Debe ingresar el teléfono para continuar
              </div>
              <div *ngIf="student_phone_name.errors?.maxlength && student_phone_name.touched"
                  style="color: #f44336; font-size: 12px; margin-bottom: 10px; margin-top: -10px;">
                  El teléfono no puede tener más de 10 dígitos.
              </div>
            </div>

            <!-- DOCUMENTO -->
            <div class="col-sm-12 col-md-4">
              <mat-form-field style="width: 100%;">
                <input (keypress)="preventLetters($event)" autofocus minlength="10" maxlength="10" matInput placeholder="Documento" #documentoName="ngModel" name="documentoName"
                (ngModelChange)="documento = $event" [ngModel]="documento | documentEdit" #documentoName="ngModel" (keypress)="preventLetters($event)" required>
              
                <mat-error *ngIf="documentoName.errors?.required && documentoName.touched"
                style="color: #f44336; font-size: 12px;">
                  Debe ingresar el documento para continuar
                </mat-error>
                <mat-error *ngIf="documentoName.errors?.minlength && documentoName.touched"
                    style="color: #f44336; font-size: 12px;">
                    El documento debe tener 8 dígitos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- DIRECCION FÍSICA -->
            <app-direccion-fisica style="padding: 15px;" #direccionFisica [data]="alumnoInformation"></app-direccion-fisica>
          </div>

          <!-- BOTONES DEL FORMULARIO -->
          <div id="buttonsContainer" style="float: right;" class="row">
            <div>
              <button mat-button class="confirmButton" (click)="continueEditing();">CONTINUAR</button>
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template #stepTwo>
        <form #disabledForm="ngForm">
          <fieldset>
          <div id="direccionesCronogramaContainer">
            <div style="margin-top: 20px;">
              <label style="font-weight: 500; font-size: 17px;">Dirección:</label>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Localidad</mat-label>
                  <mat-select [(ngModel)]="search.address[4].city" name="city"
                      (selectionChange)="selectionCity($event.value)">
                      <mat-option *ngFor="let city of locations" [value]="city">
                          {{city}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-9 col-sm-7 col-md-6 col-lg-4">
                <mat-checkbox style="margin-right: 15px;" name="street_diag"
                    [(ngModel)]="search.address[0].diag">Diag</mat-checkbox>
                <mat-form-field style="width: 125px;">
                    <input matInput placeholder="Calle" name="street"
                        [(ngModel)]="search.address[0].street" #street="ngModel" required>
                </mat-form-field>
                <div *ngIf="street.errors?.required && street.touched"
                    style="color: #f44336; font-size: 12px; margin-bottom: 10px; margin-top: -10px;">
                    Debe ingresar una calle para continuar
                </div>
              </div>
              <div class="col-3 col-sm-5 col-md-6 col-lg-2">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número" name="altitud"
                        [(ngModel)]="search.address[3].altitud" #altitud="ngModel"  [required]="!search.address[1].street_a">
                </mat-form-field>
              </div>
              <div class="col-6 col-md-6 col-lg-1">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Piso" name="piso"
                        [(ngModel)]="search.address[5].floor" #piso="ngModel">
                </mat-form-field>
              </div>
              <div class="col-6 col-md-6 col-lg-1">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Depto" name="depto"
                        [(ngModel)]="search.address[6].department" #depto="ngModel">
                </mat-form-field>
              </div>
            </div>
            <div>
              <label class="text-muted">Entre:</label>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <mat-checkbox style="margin-right: 15px;" name="street_a_diag"
                    [(ngModel)]="search.address[1].diag">Diag</mat-checkbox>
                <mat-form-field style="width: 125px;">
                  <input matInput placeholder="Calle" name="street_a"
                        [(ngModel)]="search.address[1].street_a" [required]="!search.address[3].altitud">
                </mat-form-field>
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <mat-checkbox style="margin-right: 15px;" name="street_b_diag"
                    [(ngModel)]="search.address[2].diag">Diag</mat-checkbox>
                <mat-form-field style="width: 125px;">
                  <input matInput placeholder="Calle" name="street_b"
                        [(ngModel)]="search.address[2].street_b">
                </mat-form-field>
              </div>
            </div>
            <div class="row" style="margin-bottom:15px;">
              <div class="col-6 col-md-6 col-lg-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Observaciones" name="obser"
                        [(ngModel)]="search.address[7].observations" #obser="ngModel">
                </mat-form-field>
              </div>
            </div>

      <!-- DIRECCION ALTERNATIVA -->
      <div *ngIf="flag_address_alt">
          <div style="margin-top: 20px;"><label
              style="font-weight: 500; font-size: 17px;">Dirección Alternativa:</label></div>
          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4">
                  <mat-form-field class="example-full-width">
                      <mat-label>Localidad</mat-label>
                      <mat-select [(ngModel)]="search.address_alternative[4].city" name="city_alt"
                          (selectionChange)="selectionCityAlt($event.value)">
                          <mat-option *ngFor="let city of locations" [value]="city">
                              {{city}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-9 col-sm-7 col-md-6 col-lg-4">
                  <mat-checkbox style="margin-right: 15px;" name="street_diag_alt"
                      [(ngModel)]="search.address_alternative[0].diag">Diag</mat-checkbox>
                  <mat-form-field style="width: 125px;">
                      <input matInput placeholder="Calle" name="street_alt"
                          [(ngModel)]="search.address_alternative[0].street" #street_alt="ngModel" required>
                  </mat-form-field>
                  <div *ngIf="street_alt.errors?.required && street_alt.touched"
                      style="color: #f44336; font-size: 12px; margin-bottom: 10px; margin-top: -10px;">
                      Debe ingresar una calle para continuar
                  </div>
              </div>
              <div class="col-3 col-sm-5 col-md-6 col-lg-2">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Número" name="altitud_alt"
                          [(ngModel)]="search.address_alternative[3].altitud" #altitud_alt="ngModel" [required]="!search.address_alternative[1].street_a">
                  </mat-form-field>
              </div>
              <div class="col-6 col-md-6 col-lg-1">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Piso" name="piso_alt"
                          [(ngModel)]="search.address_alternative[5].floor" #piso_alt="ngModel">
                  </mat-form-field>
              </div>
              <div class="col-6 col-md-6 col-lg-1">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Depto" name="depto_alt"
                          [(ngModel)]="search.address_alternative[6].department" #depto_alt="ngModel">
                  </mat-form-field>
              </div>
          </div>
          <div><label class="text-muted">Entre:</label></div>
          <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                  <mat-checkbox style="margin-right: 15px;" name="street_a_diag_alt"
                      [(ngModel)]="search.address_alternative[1].diag">Diag</mat-checkbox>
                  <mat-form-field style="width: 125px;">
                      <input matInput placeholder="Calle" name="street_a_alt"
                          [(ngModel)]="search.address_alternative[1].street_a" [required]="!search.address_alternative[3].altitud">
                  </mat-form-field>
              </div>
             
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                  <mat-checkbox style="margin-right: 15px;" name="street_b_diag_alt"
                      [(ngModel)]="search.address_alternative[2].diag">Diag</mat-checkbox>
                  <mat-form-field style="width: 125px;">
                      <input matInput placeholder="Calle" name="street_b_alt"
                          [(ngModel)]="search.address_alternative[2].street_b">
                  </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-6 col-md-6 col-lg-4">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Observaciones" name="obser_alt"
                          [(ngModel)]="search.address_alternative[7].observations" #obser_alt="ngModel">
                  </mat-form-field>
              </div>
          </div>
      </div>
          </div>
          <div id="datosRelacionadosAlCronogramaContainer">
            <mat-tab-group #tabulator>
                <div *ngFor="let day of search.dates_times; let i = index;">
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <i class="far fa-check-circle" *ngIf="(day.option[0].hour_start != '' && day.option[0].hour_start != null) || day.all_day == true" style="margin-right: 5px;color: #43c89d;font-size: 16px;"></i>
                      <span>{{day.name_day}}</span>
                    </ng-template>
                    <form #disabledTabulatorForm="ngForm">
                      <div class="container" style="margin-left: 0px;" (swipeleft)="onSwipeLeft(tabulator)"
                      (swiperight)="onSwipeRight(tabulator)" style="overflow-y: hidden;">
                          <div *ngIf="!search.dates_times[i].all_day">
                              <div class="row margin-top-30" style="margin-top: 30px;"
                                  *ngFor="let option of search.dates_times[i].option; let j = index;">
                                  <div class="col-sm-5"
                                      *ngIf="search.dates_times[i].option[j].hour_start || search.dates_times[i].option[j].hour_start == null">
                                      <mat-form-field class="example-full-width" >
                                          <mat-label>Desde</mat-label>
                                          <mat-select
                                              (selectionChange)="doScheduleTo(day.name_day,$event.value,j)"
                                              [disabled]="true" [(value)]="search.dates_times[i].option[j].hour_start">
                                              <mat-option
                                                  *ngFor="let hour of search.dates_times[i].option[j].scheduleFrom"
                                                  [value]="hour">
                                                  {{hour}}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-5"
                                      *ngIf="search.dates_times[i].option[j].scheduleTo.length > 0">
                                      <mat-form-field class="example-full-width">
                                          <mat-label>Hasta</mat-label>
                                          <mat-select
                                              (selectionChange)="setHourFinish(search.dates_times[i].option[j],$event.value)"
                                              [disabled]="true" [(value)]="search.dates_times[i].option[j].hour_finish">
                                              <mat-option
                                                  *ngFor="let hour of search.dates_times[i].option[j].scheduleTo"
                                                  [value]="hour">
                                                  {{hour}}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-4 col-sm-1"
                                      *ngIf="(search.dates_times[i].option[j].scheduleSend != null) && flag_address_alt"style="text-align: center; margin: auto;">
                                      <mat-checkbox  [disabled]="true" name="check_da_{{i}}{{j}}" [(ngModel)]="search.dates_times[i].option[j].dir_alt">DA
                                      </mat-checkbox>
                                  </div>                                  
                              </div>
                          </div>
                          <div class="margin-top-30" style="text-align: center; margin-bottom: 30px; margin-top: 30px;">
                              <mat-checkbox *ngIf="day.all_day" [disabled]="true" [checked]="day.all_day" (change)="allDay(day.name_day,$event)" style="margin-right:15px">Disponible todo el día
                              </mat-checkbox>
                              <mat-checkbox *ngIf="day.all_day && flag_address_alt" [disabled]="true" [checked]="day.option[0].dir_alt" name="{{i}}" [(ngModel)]="search.dates_times[i].option[0].dir_alt">DA
                              </mat-checkbox>
                          </div>
                      </div>
                    </form>
                  </mat-tab>
                </div>
            </mat-tab-group>
          </div>
        </fieldset>
        </form>
      </ng-template>

      <div id="formularioContainer">
        <form #editingStudentForm="ngForm">
          <ng-template [ngIf]="!isMobile()">
            <mat-vertical-stepper id="editingAlumnoVS" [linear]="true" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Datos personales</ng-template>
                <ng-container *ngTemplateOutlet="stepOne"></ng-container>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Datos relacionados al cronograma</ng-template>
                <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
              </mat-step>
            </mat-vertical-stepper>
          </ng-template>

          <ng-template [ngIf]="isMobile()">
            <mat-horizontal-stepper id="editingAlumnoVS" [linear]="true" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Datos personales</ng-template>
                <ng-container *ngTemplateOutlet="stepOne"></ng-container>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Datos relacionados al cronograma</ng-template>
                <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
              </mat-step>
            </mat-horizontal-stepper>
          </ng-template>
        </form>
      </div>
    </div>  
  </div>

  <custom-modal #customModal (close)="onCustomModalClose($event);" (confirmation)="confirmEdicion($event);" [data]="dataToConfirm" [component]="'editarAlumno'" [successBanner]="showSuccessBanner"></custom-modal>

</div>

