::ng-deep .tooltip-inner {
    max-width: 450px;
    background-color: #bfbfbf;
    color: #000;
    font-weight: 600;
    width: 100%;
    padding: 0.25rem 1.5rem;
}

::ng-deep .tooltip .arrow::before {
    background: white;
    border-right-color: #bfbfbf;
    border-left-color: #bfbfbf;
}

::ng-deep .tooltip-inner ul {
    list-style-type: none;
    padding: 0px 5px;
    text-align: initial;
    margin-bottom: 0px;
}

::ng-deep .tooltip-inner ul li {
    width: 100%;
}
