RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^obtenerCronograma crearCronogramaDB.php [QSA,L]

# Clave utilizada para encriptar las contrasenias de los usuarios.
SetEnv KEY sdjbfhb1y1n12jwnyasdyadhisdyswnmsjdh7812763912unkdsklsñxasdhqwydgyb213h1slasdkasjdu