.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.grey {
  background-color: #bbb;
}

.green {
  background-color: green;
}

.yellow {
  background-color: #ffc107;
}

.red {
  background-color: #dc3545;
}

.NoPadding {
  padding: 0px !important;
}

.classChoser .mat-list-item-content{
  padding: 3px !important;
}

::ng-deep .mat-list-item-content {
  padding: 5px 10px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 10px;
}

::ng-deep mat-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color:#43c89d !important;
}

::ng-deep bar-rating > div {
  display: inline !important;
}

::ng-deep .br.br-default {
  display: inline !important;
}

::ng-deep .br-unit.br-selected {
  margin-right: 1px !important;
}

::ng-deep .br-unit.br-selected::after {
  color: #43c89d !important;
}

.iconContainer span{
  vertical-align: middle;
}

.showMoreBtn {
  border: 0;
  background: inherit;
  color: rgb(67, 200, 157);
  position: relative;
  bottom: 7px;
}

.margin-left-14 {
  margin-left: 14%;
}

.margin-left-0 {
  margin-left: 0%;
}

@media (min-width: 767px) {
  .infoContainer {
    line-height: 37px;
  }

  .infoContainer div{
    display: inline-block;
  }

}
