<div class="col-12" style="margin-bottom: 15px; text-align: right;">
  <label style="font-size: 14px;">Clases seleccionadas : {{cantSelectedClasses}} / {{number_of_classes}}</label>
  <label *ngIf="cantSelectedClasses > number_of_classes" style="display: block; font-size: 14px; color: red;">No puede seleccionar más clases del límite establecido</label>
</div>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel #panel *ngFor="let option of this.data; let i = index;" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{option.dia}} {{option.fecha | date: 'dd/MM/yyyy'}}
      </mat-panel-title>
      <mat-panel-description>
        <a *ngIf="!option.opcion_selecionada">Aún no seleccionó una opción.</a>
        <a *ngIf="option.opcion_selecionada">El horario seleccionado para este día es: {{option.opcion_selecionada}} hs</a>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-selection-list #classChoser (selectionChange)="totalClassesSelected(classChoser.selectedOptions, i, $event);">
      <div *ngFor="let element of option.autos; let j = index;">
         <mat-list-option checkboxPosition="before" [value]="horario" style="height: auto !important; border-top: 1px solid rgba(0, 0, 0, 0.12); padding: 3px !important;" class="classChoser container NoPadding" *ngFor="let horario of element.horarios; let h = index">
          <!-- <bar-rating title="{{horario.ratingGeneral}}" [readOnly]="true" [(rate)]="horario.ratingGeneral" [max]="10"></bar-rating> -->
          <div class="row NoPadding">
            <div class="col-9 col-sm-8 NoPadding infoContainer">
              <div id="horaInicioContainer" class="col-12 col-sm-4 NoPadding">
                <span>Inicio de clase: {{horario.horaInicio}} hs</span>
              </div>
              <div id="puntajeContainer" class="col-12 col-sm-3 NoPadding">
                <div id="iconContainer" style="margin-right: 15px; display: inline; position: relative; top: 3px;">
                  <span *ngIf="element.tieneEldiaLibre" class="dot grey"></span>
                  <span *ngIf="!element.tieneEldiaLibre && horario.ratingGeneral >= 7" class="dot green"></span>
                  <span *ngIf="!element.tieneEldiaLibre && horario.ratingGeneral >= 4 && horario.ratingGeneral < 7" class="dot yellow"></span>
                  <span *ngIf="!element.tieneEldiaLibre && horario.ratingGeneral < 4" class="dot red"></span>
                </div>
                <span style="font-size: 14px; font-style: italic;" class="text-muted">Puntaje: {{element.tieneEldiaLibre ? 'No aplica' : horario.ratingGeneral}}</span>
              </div>
              <div id="infoMessageContainer" class="col-12 col-sm-5 NoPadding">
                <span *ngIf="!element.esDeLaZona" style="font-size: 14px; font-weight: 500;" class="text-muted">El auto no pertenece a la zona del alumno.</span>
              </div>
            </div>
            <div class="col-3 col-sm-4 NoPadding" style="line-height: 35px; text-align: right;">
              <schedule-tooltip [id_car]="element.idAuto" [info_schedule_car]="element.cronogramaActual"></schedule-tooltip>      
            </div>
          </div>
        </mat-list-option>
      </div>
    </mat-selection-list>

    <mat-action-row>
      <button *ngIf="i != 0" mat-button color="warn" (click)="prevStep()">ANTERIOR</button>
      <button *ngIf="i != (this.data.length - 1)" mat-button color="primary" (click)="nextStep()">SIGUIENTE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div class="col-12" style="margin-top: 20px;"><button style="margin-bottom:45px;float: right;" mat-button [disabled]="classes != number_of_classes" (click)="saveOptions()">FINALIZAR</button></div>
<br>
<br>
